.container {
    background-color: rgba(200, 200, 200, 0.2);
    position: relative;
    width: 35%;
    padding-top: 30px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E8E8E8;
}

.name {
    margin: 20px 0 5px 0;
    font-size: 2.5vh;
}

.title {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 3vh;
}

.description {
    text-align: center;
    margin: 5px 0 5px 0;
    font-size: 2.2vh;
}

.picContainer {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    background-color: cadetblue;
    overflow: hidden;
}

.profilePic {
    width: 100%;
    height: 100%;
}

.contactContainer {
    width: 80%;
}
.contactTitle{
    font-size: 3vh;
}

.contactContainer>div {
    display: flex;
    align-items: center;
}

.link {
    font-size: 2vh;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #E8E8E8;
    margin-left: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
}

@media(max-width:1000px){
    .container{
        width: 80%;
        height: 78vh;
        margin: 0;
        margin-bottom: 12vh;
    }
    .contactTitle{
        text-align: center;
    }
}