.container{
    background-color: #27282D59;
    color: #FFFFFF;
    opacity: 1;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 10px 5px 10px;
    margin-bottom: 10px;
}