.container{
    background-color: #27282D59;
    color: #FFFFFF;
    opacity: 1;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 10px 5px 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.title{
    margin: 3px 0 3px 0;
}
.subtitleContainer{
    display: flex;
    align-items: center;
}
.location{
   margin-left: 10px;
}
.school{
    font-weight: bolder;
    font-size: 18px;
}
@media(max-width:700px){
    .container{
        font-size: 2.7vw;
        margin: 0 10px 10px 10px;
    }
    .school{
        font-size: 2.6vw;
    }
}