.container{
    width: 50%;
    margin-right: 15px;
    background-color: rgba(200, 200, 200, 0.2);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #27282D80 transparent;
    scroll-behavior: smooth;
    padding-left: 10px;
}
.container::-webkit-scrollbar-thumb{
    background-color: #27282D80;
}
.container::-webkit-scrollbar{
   background-color: transparent; 
}